* {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
}

body {
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
